@charset "utf-8";
parque, coche, conductor, transporte {display: block; }
matricula, nombre, fecha-compra, dni, duracion {display: inline; }
matricula {font-weight: bold; color: maroon; }
nombre {font-weight: bold; color: blue; }